<!-- <p>add-taskassigntoother works!</p> -->
<div mat-dialog-title class="titless">
    <div class="taskk">Add Task</div>
    <div class="taskk" (click)="cancel()">x</div>
</div>


<div mat-dialog-content class="contentdata">

    <mat-tab-group [(selectedIndex)]="selectedIndex"  #tabgroup (selectedTabChange)="onTabChanged($event)"    (selectedIndexChange)="checking(tabgroup,$event)">


        <mat-tab label="Assign to Others">
            <div class="assigntoother">

                <form [formGroup]="assignroothers">
                    <div class="row">
                        <mat-form-field class="col-12">
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="Title" formControlName="Title" />
                            <mat-error *ngIf="assignroothers.controls['Title'].hasError('required')">Title is required</mat-error>
                            <mat-error *ngIf="assignroothers.controls['Title'].hasError('pattern')">Only Alphabets required</mat-error>
                            <mat-error *ngIf="assignroothers.controls['Title'].hasError('maxLength')">Accept only 20 character</mat-error>
                        </mat-form-field>

                    </div>

                    <div class="row">
                        <mat-form-field class="col-12">
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="Description" formControlName="Description" />
                            <mat-error> Description is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field class="col-12">
                            <mat-label>Attach File*</mat-label>
                            <input matInput (click)="folder()" [value]="filesNames" readonly>
                            <input formControlName="Image"  hidden>
                            <input type="file" #attachedfile  (change)="previewImages($event)"hidden>
                            <mat-error> Atleast one images required </mat-error>
                        </mat-form-field>
                        <div class="text-danger sizecondition" *ngIf="filesizecondition">Selected file is Greater than "2MB"</div>
                    </div>

                    <div class="row">
                        <mat-form-field class="col-6">
                            <mat-label>Lead/Customer Name</mat-label>
                            <input matInput placeholder="Lead/Customer Name" formControlName="LeadId" />
                            <!-- <mat-error> Enter your name </mat-error> -->
                        </mat-form-field>

                        <mat-form-field class="col-6" (click)="picker.open()" >
                            <mat-label>Select Due Date</mat-label>
                            <input matInput placeholder="Select Due Date" [matDatepicker]="picker" [min]="currentdate"
                                formControlName="TaskEndDateDisplay" (dateChange)="onStartChange()" readonly/>
                            <input type="text" formControlName="TaskEndDate" hidden />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error> Please enter Due Date </mat-error>
                        </mat-form-field>

 
                    </div>

                    <div class="row">
                        <mat-form-field class="col-6">
                            <mat-label>Select Priority</mat-label>
                            <mat-select formControlName="Priority">

                                <mat-option *ngFor="let food of Priority "
                                    [value]="food.value">{{food.viewValue}}</mat-option>
                            </mat-select >
                            <mat-error> Select Priority</mat-error>
                        </mat-form-field>

                    </div>

                    <div class="row">
                        <mat-form-field class="col-12">
                            <mat-label>Add Users</mat-label>
                            <input matInput type="text" placeholder="Add Users" formControlName="UserDisplayIds"  [value]="addusername"  (click)="adduser('User')" readonly/>
                            <input type="text" formControlName="UserIds" hidden/>
                            <mat-error> Users is required </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="row">
                        <mat-form-field class="col-12">
                            <mat-label>Add CC Members</mat-label>
                            <input matInput placeholder="Add CC Members" formControlName="TaskDisplayOwners" [value]="addCCname" (click)="adduser('CC')"  readonly/>
                            <input type="text" formControlName="TaskOwners" hidden/>
                            <mat-error> Users is required </mat-error>

                        </mat-form-field>

                    </div>

                </form>
            </div>
        </mat-tab>



        <mat-tab label="Assign to Me">
            <div class="assigntoother">

                <form [formGroup]="assignroothers">
                    <div class="row">
                        <mat-form-field class="col-12">
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="Title" formControlName="Title" />
                            <mat-error *ngIf="assignroothers.controls['Title'].hasError('required')">Title is required</mat-error>
                            <mat-error *ngIf="assignroothers.controls['Title'].hasError('pattern')">Only Alphabets required</mat-error>
                            <mat-error *ngIf="assignroothers.controls['Title'].hasError('maxLength')">Accept only 20 character</mat-error>
                        </mat-form-field>

                    </div>

                    <div class="row">
                        <mat-form-field class="col-12">
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="Description" formControlName="Description" />
                            <mat-error> Description is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field class="col-12">
                            <mat-label>Attach File*</mat-label>
                            <input matInput (click)="folder()" [value]="filesNames" readonly>
                            <input formControlName="Image"  hidden>
                            <input type="file" #attachedfile  (change)="previewImages($event)"hidden>
                            <mat-error> Atleast one images required </mat-error>
                        </mat-form-field>
                        <div class="text-danger sizecondition" *ngIf="filesizecondition">Selected file is Greater than "2MB"</div>
                    </div>

                    <div class="row">
                        <mat-form-field class="col-6">
                            <mat-label>Lead/Customer Name</mat-label>
                            <input matInput placeholder="Lead/Customer Name" formControlName="LeadId" />
                            
                        </mat-form-field>

                        <mat-form-field class="col-6" (click)="pickerr.open()">
                            <mat-label>Select Due Date</mat-label>
                            <input matInput placeholder="Select Due Date" [matDatepicker]="pickerr"   [min]="currentdate" 
                                formControlName="TaskEndDateDisplay" (dateChange)="onStartChange()" readonly/>
                            <input type="text" formControlName="TaskEndDate" hidden />
                            <mat-datepicker-toggle matSuffix [for]="pickerr"></mat-datepicker-toggle>
                            <mat-datepicker #pickerr></mat-datepicker>
                            <mat-error> Please enter Due Date </mat-error>
                        </mat-form-field>


                    </div>

                    <div class="row">
                        <mat-form-field class="col-6">
                            <mat-label>Select Priority</mat-label>

                            <mat-select formControlName="Priority">

                                <mat-option *ngFor="let food of Priority "
                                    [value]="food.value">{{food.viewValue}}</mat-option>
                            </mat-select>
                            <mat-error> Select Priority</mat-error>
                        </mat-form-field>

                    </div>

                    <div class="row">
                        <mat-form-field class="col-12">
                            <mat-label>Add CC Members</mat-label>
                            <input matInput placeholder="Add CC Members" formControlName="TaskDisplayOwners" [value]="addCCname" (click)="adduser('CC')" readonly/>
                            <input type="text" formControlName="TaskOwners" hidden/>
                            <mat-error> Users is required </mat-error>
 
                        </mat-form-field>

                    </div>

                </form>
            </div>
        </mat-tab>




    </mat-tab-group>

</div>


<div mat-dialog-actions class="buttons">
    <button mat-raised-button class="cancel" (click)="closed()">Cancel</button>
    <button mat-raised-button color="primary" (click)="add()">Add</button>
</div>