.contentdata{
    height: 24rem;
    overflow-x: auto;
}
.buttons{
    text-align: end;
    padding: 0 16px 0 0;
    cursor: pointer;
}

:host ::ng-deep button.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-primary.mat-mdc-button-base {
    width: 5.5rem;
}

.cancel{
    margin-right: 8px
}

.titless{
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
    // position: fixed;
}

.taskk{
    font-weight: 500;
    cursor: pointer;
}

.assigntoother{
    padding: 6px;
}

