<h3 mat-dialog-title class="titless">
    <span class="">Members</span>
</h3>


<div mat-dialog-content class="contentdata" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500"
    (scrolled)="appenddata()" [scrollWindow]="false">

    <div class="searchbar">
        <input type="text" placeholder="Search" [(ngModel)]="searchText" (input)="searcbar($event)">
    </div>

    <div class="resdata" *ngFor="let list of  listofCategory ; let i=index">
        <section>
            <!-- <mat-checkbox class="example-margin">{{list.name}}</mat-checkbox>
            <mat-divider></mat-divider> -->
            <div class="question_body">
                <div class="d-flex justify-content-between">{{list.Name}}<mat-checkbox
                        [checked]="list.checked"
                        (change)="seletectedTopic($event,list)"></mat-checkbox></div>
            </div>


        </section>
    </div>

</div>


<div mat-dialog-actions class="buttons">
    <button mat-raised-button class="cancel" (click)="closed()">Cancel</button>
    <button mat-raised-button color="primary" (click)="add()">Done</button>
</div>