.titless {
    h4 {
        font-weight: 600;
        padding: 10px;
        border-bottom: 1px solid beige;
    }
}

.contentdata {
    padding: 28px;
    border-bottom: 1px solid beige;
}

.buttons{
    text-align: end;
    padding-top: 12px;
}
