mat-header-row.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row.ng-star-inserted{
    font-size: smaller;
}

mat-row.mat-mdc-row.mdc-data-table__row.cdk-row.ng-star-inserted {
    font-size: smaller;
}

img {
    height: 20px;
}

.asctionbtton{
    padding: 0 26px;
}

.sortarrow{
    cursor: pointer;
    height: 14px;
    margin-left: 4px;
}

.titlescolor{
    color: rgb(7, 61, 168);
    cursor: pointer;
}